@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Royce's Site";
}



<h1>Royce Cotcher</h1>

<img src="img/Profile.jpg" alt="Profile" />

<p>
    Since I'm mostly interested in the programming side of things, I hope to gain more knowledge about
    a language that is widely used in industry. I'd really like to increase my skills in C# as much as
    possible, especially since my potential full time employer, after graduation, works in a Java
    environment and I've heard that Java and C# are very similar and can be easily interchanged.
</p>
<br />

<h2>Top 3 Jobs (in no Particular Order)</h2>
<ul>
    <li>Front End Web Development</li>
    <li>Full Stack Web Development</li>
    <li>Cyber Security</li>
</ul>
<br />
